/* Encuestas */

.actividades { 
    color: #FFFFFF;
    padding: 20px;
    flex: 1;
    min-width: 280px; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: flex-start; 

}


.test {
    flex: 1; 
    margin-right: 20px;
}


.boton-enviar {
    width: 160px;
    font-size: 17px;
    margin-top: 10px;
    color: #FFFFFF;
    background-color: #007111; 
}

.boton-enviar:hover {
    background-color: #19ae2f;
}

